<div class="content">
  <table style="border:none">
    <tr>
      <th>Titulo</th>
      <th>Categoria</th>
      <th>Temporadas</th>
      <th>Sinopsis</th>
      <th>Actores</th>

    </tr>
    <tr *ngFor=" let s of series">
      <td> {{s.titulo}}</td>
      <td>{{s.tipoDeSerie}}</td>
      <td> {{s.temporadasDeLaSerie.length}} </td>
      <td>{{s.sinopsis}}</td>
      <td> <div> <span style="display: block;" *ngFor=" let a of s.actoresPrincipales">{{a.nombre}}, </span></div>  </td>
      <td (click)="visualizaCapitulo(s.ID_Serie,'1','1')" title="Play" style="cursor: pointer; margin-left: 10px; display: inline-block;border: none;">   <span class="material-icons"> play_circle</span></td>
    </tr>
    <button (click)='visualizaCapitulo("1", "1", "1")'>Add to Visualizadas</button>
    <button (click)='addToPendientes("1")'>Add to Pendientes</button>

  </table>
  <span id="tituloserie" style="margin-top:100px;"></span>
  <table id="tablaEpisodios" class="tablaespecial" style="display:none; border: 1px solid black;"><tbody><tr></tr></tbody></table>
</div>
