<html>
<head>
<style>
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
}
</style>
</head>

<div>
  <h1>Empezadas</h1>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a routerLink="/serie">
                      Serie
                    </a>
    </mat-list-item>
    <mat-list-item role="listitem">invincible</mat-list-item>
  </mat-list>
</div>
<div>
  <h1>Pendientes</h1>
  <mat-list role="list">
    <mat-list-item role="listitem">The Boys</mat-list-item>
    <mat-list-item role="listitem">Better Call Saul</mat-list-item>
    <mat-list-item role="listitem">Los Soprano</mat-list-item>
  </mat-list>
</div>
<div>
  <h1>Terminadas</h1>
  <mat-list role="list">
    <mat-list-item role="listitem">Breaking Bad</mat-list-item>
    <mat-list-item role="listitem">Como Conocí A Vuestra Madre</mat-list-item>
    <mat-list-item role="listitem">Friends</mat-list-item>
  </mat-list>
</div>

<hr>
<mat-action-list>
  <button mat-list-item> Save </button>
  <button mat-list-item> Undo </button>
</mat-action-list>

</html>
