<html>
<head>
<style>
div {
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 20px;
  border-radius: 25px;
}
</style>
</head>

<div>
  <h1>Temporada1</h1>
  <mat-list role="list">
    <mat-list-item role="listitem">
      <a href="/serie/Capitulo1">
                      Capitulo1
                    </a>
    </mat-list-item>
    <mat-list-item role="listitem">Capitulo2</mat-list-item>
    <mat-list-item role="listitem">Capitulo3</mat-list-item>
    <mat-list-item role="listitem">Capitulo4</mat-list-item>
  </mat-list>
</div>
</html>
